.__miku-container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .__miku-img-container {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .__miku-img {
    margin-top:10%;
    max-width: 100%;
    max-height: 100%;
  }
  
  .__miku-move-left {
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    background: grey;
  }
  
  .__miku-move-right {
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: grey;
    text-align: center;
  }